html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background: #eef7ff;
  font-family: Arial, sans-serif;
}

.login {
  text-align: center;
  margin-top: 100px;
}

.login button {
  padding: 10px 20px;
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.add-task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  width: 90%;
  max-width: 400px;
}

.add-task select,
.add-task input,
.add-task button {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.add-task button {
  padding: 10px;
  margin-left: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #45a049;
}

.task-list {
  max-width: 400px;
  width: 90%;
  margin-bottom: 20px;
}

.task {
  background: white;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.task.done {
  background: #c8f7c5;
  text-decoration: line-through;
  font-weight: bold;
}

.task button {
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.stars {
  font-size: 20px;
  margin: 10px;
}

.reward-section {
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-card {
    background: white;
  padding: 15px 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.dashboard-title {
  margin-bottom: 15px;
}

section-title {
  margin-top: 20px;
}
